[package]
name = "rust-releases"
version = "0.15.4"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
description = "Find, index and obtain all officially available Rust releases"
license = "MIT OR Apache-2.0"
edition = "2018"

[package.metadata]
msrv = "1.51.0"

documentation = "https://docs.rs/rust-releases"
repository = "https://github.com/foresterre/rust-releases"

[workspace]
members = [
    "crates/rust-releases-core",
    "crates/rust-releases-io",
    "crates/rust-releases-channel-manifests",
    "crates/rust-releases-rust-changelog",
    "crates/rust-releases-rust-dist",
    "crates/rust-releases-rust-dist-with-cli",
]

[features]
default = [
    "channel-manifests",
    "rust-changelog",
    "rust-dist",
    "rust-dist-with-cli"
]

channel-manifests = ["rust-releases-channel-manifests"]
rust-changelog = ["rust-releases-rust-changelog"]
rust-dist = ["rust-releases-rust-dist"]
rust-dist-with-cli = ["rust-releases-rust-dist-with-cli"]

io = ["rust-releases-io"]

[dependencies]
rust-releases-core = { version = "0.15.1", path = "crates/rust-releases-core" }
rust-releases-io = { version = "0.15.1", path = "crates/rust-releases-io", optional = true }
rust-releases-channel-manifests = { version = "0.15.1", path = "crates/rust-releases-channel-manifests", optional = true }
rust-releases-rust-changelog = { version = "0.15.1", path = "crates/rust-releases-rust-changelog", optional = true }
rust-releases-rust-dist = { version = "0.15.1", path = "crates/rust-releases-rust-dist", optional = true }
rust-releases-rust-dist-with-cli = { version = "0.15.1", path = "crates/rust-releases-rust-dist-with-cli", optional = true }

[dev-dependencies]
yare = "1.0.0"
