[package]
name = "rust-releases-rust-dist"
version = "0.26.0"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
edition = "2018"
description = "RustDist source implementation for rust-releases"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/rust-releases-rust-dist"
repository = "https://github.com/foresterre/rust-releases"
rust-version = "1.63"

[dependencies]
rust-releases-core = { version = "^0.26.0", path = "../rust-releases-core" }
rust-releases-io = { version = "^0.26.0", path = "../rust-releases-io" }

aws-config = "0.55.0"
aws-sdk-s3 = "0.25.0"
aws-sig-auth = "0.55.0" # required for unsigned requests workaround

lazy_static = "1.4.0"
regex = "1.4.5"
thiserror = "1.0.24"

[dependencies.tokio]
version = "1.13.1" # minimum is set because of RUSTSEC-2021-0124 advisory: https://rustsec.org/advisories/RUSTSEC-2021-0124
features = ["full"] # full required by aws-sdk-s3
