[package]
name = "rust-releases-rust-dist"
version = "0.27.0"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
edition = "2018"
description = "RustDist source implementation for rust-releases"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/rust-releases-rust-dist"
repository = "https://github.com/foresterre/rust-releases"
rust-version = "1.67"

[dependencies]
rust-releases-core = { version = "^0.27.0", path = "../rust-releases-core" }
rust-releases-io = { version = "^0.27.0", path = "../rust-releases-io" }

aws-config = "0.57.2"
aws-sdk-s3 = "0.36.0"

lazy_static = "1.4.0"
regex = "1.8.1"
thiserror = "1.0.40"

[dependencies.tokio]
version = "1.28.0" # minimum is set because of RUSTSEC-2021-0124 advisory: https://rustsec.org/advisories/RUSTSEC-2021-0124
features = ["full"] # full required by aws-sdk-s3
